			.cellTable {
				margin-top: 10px;
				margin-left: 2%;
				margin-bottom: 1px;
				border: 1px solid #000000;
				text-align: left;
				background-color: skyblue;
			}
			
			.heading {
				margin-top: 20px;
				margin-bottom: 5px;
			}
			
			h1,h2 {
				margin-left:2%;
			}
			
			.structuredTable table td tr {
				margin-top: 10px;
				margin-left: 20px;
				border-collapse: collapse;
				border: 0px solid black;
			}
			
			.interactiveElement {
				margin-left: 10px;
				font-style: italic;
				font-weight: bold;
				color: blue;
				margin-right: 10px;
				margin-top:5px;
				margin-bottom: 5px;
			}
			
			.interactiveElementOff {
				margin-left: 10px;
				font-style: italic;
				font-weight: bold;
				color: #c0c0c0;
				margin-right: 10px;
				margin-top:5px;
				margin-bottom: 5px;
			}
			
			.leftDistance {
				margin-left: 20px;
				margin-bottom: 20px;
			}
			
			.mouseover {
				text-decoration: underline;
				color: #ff0000;
				cursor: pointer;
			}
			
			.tablePager {
				border: 1px solid black;
				background: lightgray;
				margin-left: 2%;
			}
			
			.distance {
				margin-left: 5px;
				margin-top: 3px;
				margin-right: 10px;
				vertical-align: middle;
			}
			
			.bigger {
				font-size: x-large;
			}
			
			.grid {
				margin-top: 10px;
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
				background: skyblue;
				border: 3px solid black;
				border-collapse: collapse;
				vertical-align: middle;
			}
			
			.grid td {
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 5px;
				padding-right: 5px;
				border: 1px solid black;
				border-collapse: collapse;
			}
			
			.thickBorder {
				padding: 5px 5px 5px 5px;
				border: 0.5px solid black;
			}
			
			.validInput {
				background: #FFFFCC;
			}
			
			.invalidInput {
				background: #F75D59
			}
			
			.buttonCenter {
				
			}
			
			.setCurserPointer {
				cursor: pointer;
			}
			
			.explaination {
				margin-bottom: 20px;
				margin-left: 2%;
			}
			
			.toolBox {
				margin-left: 2%;
				background-color: #FFFFCC;
				border: 1px solid black;
				border-collapse: collapse;				
			}
			.toolBoxDistance {
				margin-top:10px;
				margin-left: 2%;
			}
      
		    .structuredTable {
		    	margin-top: 10px;
		      	margin-left: 20px;
		      	border: 6px;
		      	border-color: #ff0000;
		      	height: 500px;
		    }
		    
		   	.errorText {
		   		color:red;
		   	}
		    
		    .selection {
		    }
		    
		    .GHGCQQ-BCC {
		    	background:#FFFFCC;
		    	background-color: #FFFFCC;
		    	margin-right:10px;
		    }
		    
		    .GHGCQQ-BEC {
		    	background:#FFFFCC;
		    	background-color: #FFFFCC;
		    	margin-right:10px;
		    }